body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
}
.header>img{
    width:180px;
    height:180px;
    box-shadow: 0px 0px 20px rgba(0, 0.9, 0.4, 0.4);
    border-radius:50%;
    overflow:hidden;
    margin:20px 50px;
}
.header{
    align-items: center;
    display: flex;
}
.nomeutente {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.header>button{
    position: absolute;
    right: 200px;
    font-size: 17px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 120px;
}
.header>button:hover{
    background-color: #0056b3;
}

.footer{
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
}

.leftbar{
    color: #333;
    width: 20%;
    padding: 10px;
}

.formsx{
    display: block;
    margin-bottom: 25px;
}
.leftbar>h2{
    margin-left: 20px;
    padding:5px;
}
.formsx>button{
    text-align: left;
    align-items: center;
    padding-left: 20px;
    font-size: 17px;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    height:50px;
    border:none;
}
.formsx>button:hover{
    background-color: #d1d1d1;
}

.vertical-line {
    border-left: 3px solid #d1d1d1; /* Imposta uno stile di linea solida nera a sinistra */
    margin: 10px 0;

}

.testo{
    
  font-family: 'Arial', sans-serif; /* Imposta il font */
  font-size: 18px; /* Dimensione del testo */
  line-height: 1.6; /* Altezza della linea per migliorare la leggibilità */
  color: #333; /* Colore del testo */
  background-color: white; /* Colore di sfondo */
  padding: 15px; /* Spaziatura interna */
  margin: 20px 0; /* Spaziatura esterna */
  border-left: 5px ; /* Bordo laterale sinistro per evidenziare il paragrafo */
  border-radius: 4px; /* Arrotonda gli angoli */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera */
  max-width: 1000px; /* Imposta una larghezza massima */
  margin-left: 30px; /* Centra orizzontalmente */
  margin-right: auto; /* Centra orizzontalmente */
}

.paragrafo>h2{
    margin-left: 20px;
    padding:10px;
    color:#3a3535
}

ul li{
    margin:20px;
}

.titoloLeftbar{
    display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}